.card {
  background: #fff;
  width: 90%;
  max-width: 28em;
  border-radius: 0.8em;
  margin: 1em;
  overflow: hidden;
  /*cursor: pointer;*/
  transition: all ease 400ms;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

.card:hover {
  /*transform: scale(1.02);*/
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.03);
}

.card img {
  width: 100%;
  object-fit: cover;
  margin-bottom: -0.2em;
}

.card-title {
  color: #222;
  line-height: 1.4;
  font-size: 1.3em;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  transition: all ease-in 100ms;
}

.card p {
  color: #4d4d4d;
}

.card-caption {
  color: #bbb;
  font-weight: 700;
  font-size: 0.7em;
  letter-spacing: 0.04em;
  margin: 1.4em 0 0 0;
  text-transform: uppercase;
}

.card-body {
  padding: 1.2em;
}
