.card {
  background: var(--site-card-background);
  border-radius: 0.8rem;
  overflow: hidden;
  color: var(--ifm-font-color-base);
  transition: box-shadow 200ms ease;
  box-shadow:
    0 1px 2px 0 rgb(60 64 67 / 30%),
    0 1px 3px 1px rgb(60 64 67 / 15%);
}

.card:hover {
  box-shadow:
    0 13px 27px -5px rgb(50 50 93 / 25%),
    0 8px 16px -8px rgb(0 0 0 / 30%),
    0 -6px 16px -6px rgb(0 0 0 / 3%);
}

.card img {
  width: 100%;
  object-fit: cover;
  display: block;
}

.card-title {
  color: var(--ifm-heading-color);
  line-height: 1.4;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: var(--ifm-heading-font-family);
}

.card p {
  color: var(--site-card-text-color);
}

.card-caption {
  color: var(--site-metadata-color);
  font-weight: 700;
  font-size: 0.7rem;
  letter-spacing: 0.04rem;
  margin: 1.4rem 0 0;
  text-transform: uppercase;
}

.card-body {
  padding: 1.2rem;
}

@media (prefers-reduced-motion: reduce) {
  .card {
    transition: none;
  }
}
