.heroBanner {
  padding-block: 4rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media (max-width: 60.375rem) {
  .heroBanner {
    padding: 2rem;
  }
}

.avatar {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  padding: 0.75rem;
  background: var(--site-card-background);
  box-shadow: 0 0.25rem 0.5rem rgb(0 0 0 / 20%);
}

.sectionTitle {
  text-align: center;
  font-size: 2rem;
  margin-block: 2rem 1rem;
}

.sectionContainer {
  width: min(calc(100% - 2rem), var(--site-content-max));
  margin: 3rem auto 2rem;
  font-size: 1rem;
  position: relative;
}

.paperListing li {
  margin-block-end: 1rem;
}

.paperTitle {
  font-size: 1.2rem;
  margin-block: 0 0.3rem;
}

.paperInfo {
  color: var(--site-metadata-color);
}

.paperInfo small {
  font-size: 1rem;
}

.paperLinks {
  display: inline;
}

@media (max-width: 75rem) {
  .paperLinks {
    display: block;
  }
}
